<p>form-pipes works!</p>
<h2>{{fechaActual | date: 'short'}}</h2>
<button class="btn btn-primary"(click)="mostrarAlumnos()">mostar alumnos</button>
@if (mostrarResultado == 1) {

    <h1>lista de alumnos</h1>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Nombres</th>
          </tr>
        </thead>
        <tbody>
            @for (itemAlumno of alumnos; track $index) {
    
                <tr>
                    <td>{{itemAlumno.nombre | uppercase}}</td>
                </tr>
                
            }
          
        </tbody>
      </table>
    
}

  <hr/>
  <button class="btn btn-primary"(click)="mostrarCursos()">mostrar curso</button>
  @if (mostrarResultado == 0) {

    <h2>lista</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nombres</th>
          <th scope="col">Profesor</th>
          <th scope="col">Precio</th>
        </tr>
      </thead>
      <tbody>
          @for (itemCurso of curso; track $index) {
  
              <tr>
                  <td>{{itemCurso.nombre | uppercase}}</td>
                  <th>{{itemCurso.profesor | lowercase}}</th>
                  <th>{{itemCurso.precio | currency: "S/. "}}</th>
              </tr>
              
          }
        
      </tbody>
    </table>
    
}


